.circleTop {
  /* matching hero bg */
  background-color: var(--color-brown);
  position: relative;
  overflow: hidden;
  height: 30vw;
}
.circleTop::after {
  background-color: var(--accent);
  content: "";
  display: block;
  z-index: 1;
  border-radius: 50%;
  height: 50vw;
  width: 100vw;
  position: absolute;
  top: 15vw;
  left: 0;
  transform: scale(1.3) rotate(-8deg);
}

.circleBottom {
  position: relative;
  overflow: hidden;
  height: 20vw;
  background-color: var(--bg-primary);
}
.circleBottom::after {
  background-color: var(--accent);
  border-radius: 50%;
  bottom: 12vw;
  content: "";
  display: block;
  height: 45vw;
  left: 0;
  position: absolute;
  transform: scale(1.3);
  width: 100vw;
}

.textWrapper {
  background-color: var(--accent);
  padding: 1rem;
  padding-bottom: 4rem;
}
.textWrapper p {
  text-align: center;
  font-size: 0.925rem;
  font-weight: 600;
  max-width: 600px;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .textWrapper p {
    font-size: 1rem;
  }
}

.projectContainer {
  background-color: var(--accent);
  min-height: 60vh;
  padding: 0 1rem;
}

.projectGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  max-width: var(--content-width);
  margin: 0 auto;
}
@media (min-width: 630px) {
  .projectGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .projectGrid > div:nth-child(2) {
    margin-top: 6rem;
  }
  .projectGrid > div:nth-child(3) {
    margin-top: -6rem;
  }
}
