.container {
  background-color: var(--bg-primary);
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3rem;
  justify-items: center;
  max-width: var(--content-width);
  height: 100%;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.textWrapper {
  color: var(--text-primary);
}

.textWrapper p {
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
}
