.container {
  padding: 4rem 1rem;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    padding: 4rem 3rem;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  max-width: 650px;
}
@media (max-width: 425px) {
  .title {
    font-size: 2rem;
  }
}

.subtitle {
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
}

.bannerWrapper {
  margin: 3rem auto;
}

.body {
  max-width: var(--content-width);
  margin: 0 auto;
}

.heading {
  color: var(--text-secondary);
  font-size: 0.9rem;
}

.infoGrid {
  display: grid;
  grid-template-columns: 2fr 6fr;
  gap: 2rem;
  max-width: var(--content-width);
  margin: 3rem auto;
}

.infoGrid a {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--shadow);
  text-underline-offset: 0.5rem;
  margin-right: 1.25rem;
  margin-bottom: 1rem;
}
.infoGrid a:hover {
  text-decoration-thickness: 5px;
  text-underline-offset: 0.4rem;
}

.btnRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.categoryBtn {
  border: solid #faa423 2px;
  border-radius: 32px;
  padding: 5px 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.categoryText {
  color: var(--text-primary);
  text-align: center;
}
