.container {
  margin: 0 auto;
}

.imageWrapper {
  width: 350px;
  min-width: 100%;
  min-height: 350px;
  height: fit-content;
  position: relative;
}

.image {
  border-radius: 30px;
  object-fit: cover;
}

.textWrapper {
  padding-top: 1rem;
  width: 80%;
}

.textWrapper p {
  margin: 0;
}
