.container {
  width: 100%;
  margin: 0 auto;
}

.image {
  border-radius: 30px;
  object-fit: cover;
  height: auto;
  width: 100%;
}

.textWrapper {
  padding-top: 1rem;
  max-width: 300px;
}

.textWrapper p {
  margin: 0;
}

@media (max-width: 768px) {
  .textWrapper {
    max-width: initial;
  }
  .textWrapper p {
    font-size: 1.3rem;
  }
}
