.container {
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  padding: 4rem var(--viewport-padding);
}

.listWrapper {
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 2rem;
}
