.footer {
  background-color: var(--bg-main);
  color: var(--text-main);
  position: relative;
  padding: 4rem 1rem 3rem;
}

.contact {
  max-width: var(--content-width);
  margin: 0 auto;
  margin-bottom: 4rem;
}

.contactTitle {
  margin-bottom: 1rem;
}

.contactBody {
  margin-bottom: 1rem;
  max-width: 450px;
}
.contact a {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--shadow);
  text-underline-offset: 0.5rem;
}

.footerRow {
  max-width: var(--content-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .footerRow p {
    max-width: 220px;
    line-height: 1.2;
  }
}

.social {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
}
.social > a {
  margin-left: 2rem;
}

.waveImg {
  background-image: url(/images/desert/footer-wave.svg);
  background-repeat: repeat-x;
  width: 100%;
  height: 100px;
  position: absolute;
  top: -2rem;
  left: 0;
}
