.container {
  background-color: var(--bg-primary);
  min-height: 60vh;
  max-width: var(--content-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .container {
    padding: 3rem 1rem;
  }
}

.projectContainer {
  width: 100%;
  margin: 5rem 0;
}

.title {
  color: var(--text-primary);
}

.subtitle {
  color: var(--text-primary);
  line-height: 1.25rem;
  font-size: 1.125rem;
  margin-top: 1rem;
}
