.container {
  background-color: #fff;
  max-width: 1500px;
  padding: 0 3rem;
  margin: 0 auto;
}

.galleryContainer {
  margin: 0 auto;
  padding-bottom: 3rem;
}

.fullImg {
  width: 100%;
  max-width: 1500px;
  position: relative;
}
.fullImg img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .galleryContainer {
    padding-top: 8vh;
  }
}
